.inner-page
  .inner-page__container
    h2.inner-page__title Бренды
    .brands-container
      mixin brand()
        .brand-block
          a(href="#").brand-block__link
            img.brand-block__picture(src="http://placehold.it/167x167")
            | Название
            br
            | бренда
        | &#32;
      - for(var i = 0; i < 12; i++)
        +brand()
