.feature__container
  mixin feature(name, icon)
    .feature
      != icon
      span.feature__text!= name
  +feature("Только <br/> качественные <br/>товары", "<div class=\"icon-thumb icon-feature\"></div>")
  +feature("Самые <br/>низкие цены", "<div class=\"icon-pig icon-feature\"></div>")
  +feature("Быстрая <br/> доставка", "<div class=\"icon-box icon-feature\"></div>")
  +feature("Гарантия", "<div class=\"icon-medal icon-feature\"></div>")
