footer.footer
  .footer__column
    a.footer__logo-link(href="/")
      img.footer__logo(src="images/logo.png")
    br
    br
    a.footer__phone-link(href="tel:+79876543210") +7987 654 32 10
    br
    | Москва,
    br
    | ул. Название улицы, 1
    br
    br
    br  
    a(href="https://vk.com")
      .icon-vk.footer__icon
    | &nbsp;&nbsp;&nbsp;
    a(href="https://instagram.com")
      .icon-instagram.footer__icon
  | 
  mixin list(name, items)
    .footer__column
      span.footer__list-title= name
        | &nbsp;
      ul.footer__list
        each item in items
          li.footer__list-item
            a.footer__list-link(href="#")= item
    | 
  +list("", menuItems)
  +list("Машинки", catalogCars)
  +list("Детские коляски", catalogBabyCars)
  +list("Автокресла", catalogChairs)
  +list("Велосипеды", catalogCycle)