header.header
  nav.menu__container
    a(onclick="$(\"#menu\").slideToggle();").menu__toggle
      | Меню 
      span.hamburger
    ul.menu#menu
      each item in menuItems
        li.menu__item
          a.menu__link(href="#")= item
        | &#32;
  .header__container
    .header__block1
      a.header__logo-link(href="/")
        img.header__logo(src="images/logo.png")
        br
        | интернет-магазин детских машин
      br
      a(href="https://vk.com")
        .icon-vk.header__icon
      | &nbsp;&nbsp;&nbsp;
      a(href="https://instagram.com")
        .icon-instagram.header__icon
    .header__block2
      .icon-call.header__icon
      a.header__phone-link(href="tel:+79876543210") +7987 654 32 10

      .header__select-container
        select.header__select-region
          option(value="" default selected) Ваш регион
          option Республика Башкортостан
          option Московская область
          option Калининградская область
        .header__select-arrow
      br
      span.header__schedule 8:00-23:00 ежедневно
      .search__container
        input.search__input(type="search" placeholder="Поиск по сайту")
        button.search__btn
          .icon-loupe.header__icon
    .header__block3
      if cart_with_items
        .header__cart-head.header__cart-head--with-items
          .icon-cart.header__icon
          | Корзина
        .header__cart-body
          span.header__cart-count 3 товара
          |  на  
          span.header__cart-price 12 тысяч руб
      else
        .header__cart-head 
          .icon-cart.header__icon
          | Корзина
        .header__cart-body Ваша корзина пуста
      button(onclick="$(\"#callback_modal\").modal();").header__callback 
        .icon-callback.header__icon
        | Заказать обратный звонок
  nav.menu-catalog
    .menu-catalog__container
      mixin item(name, icon, items, is_sel)
        - var className = is_sel ? "menu-catalog__item menu-catalog__item--selected" : "menu-catalog__item";
        div(class=className onclick="dropDown.bind(this)();")
          != icon
          | &nbsp;
          = name
          ul.menu-catalog__dropdown-container
            each item in items
              li.menu-catalog__dropdown-item
                a.menu-catalog__dropdown-link(href="#")= item
      +item("Машинки", "<div class=\"icon-car header__icon\"></div>", catalogCars, isSelected)
      +item("Детские коляски", "<div class=\"icon-pram header__icon\"></div>",catalogBabyCars)
      +item("Автокресла", "<div class=\"icon-chair header__icon\"></div>",catalogChairs)
      +item("Велосипеды", "<div class=\"icon-cycle header__icon\"></div>",catalogCycle)