include ./includes/head.pug
include ./includes/header.pug
.owl-carousel.owl-theme#slider
  .item
    img(src="images/bg-girl.jpg")
  .item    
    img(src="images/bg-girl-2.jpg")
  .item    
    img(src="images/bg-girl-3.jpg")  
//.bg-girl
.divider
include ./includes/features.pug
mixin carousel(name, color, bg_src, sale_badge, id)
  - var className = "carousel__container carousel__container--" + color;
  div(class=className id=id)
    h3.carousel__name= name
    .owl-prev
    .owl-next  
    .carousel.owl-carousel.owl-theme
      mixin carousel_item(img_src, sale_badge)
        .carousel-item.item
          img.carousel-item__thumb(src="http://placehold.it/255x255") 
          span.carousel-item__name Название товара Бренд Модель
          br
          span.carousel-item__categ Название группы товаров
          br
          span.carousel-item__price Цена:&nbsp;
          span.carousel-item__price-val 9999 руб.
          br
          button.carousel-item__buy Купить в один клик
          button.carousel-item__to-cart В корзину
          if ( sale_badge ) 
            .carousel-item__sale-badge
      +carousel_item("images/product1.jpg", sale_badge)
      +carousel_item("images/product1.jpg", sale_badge)
      +carousel_item("images/product2.jpg", sale_badge)
      +carousel_item("images/product2.jpg", sale_badge)
      +carousel_item("images/product3.jpg", sale_badge)
      +carousel_item("images/product3.jpg", sale_badge)
+carousel("Популярное", "blue", "", false, "c1")
+carousel("Новинки", "green", "", true, "c2")
+carousel("Скидки", "red", "", true, "c3")


include ./includes/description.pug
include ./includes/footer.pug
script(src="js/script.min.js")