- var pageTitle = "Интернет магазин детских машин \"Бибика\"";
doctype html
html(lang="en")
  head
    title= pageTitle
  body
    header.header
      .header__container1
      .header__container2
      .header__container3
