- var pageTitle = "Интернет магазин детских машин \"Бибика\"";
- var menuItems = ["Каталог", "Бренды", "О нас", "Статьи", "Наши клиенты", "Доставка и оплата", "Гарантия и возврат", "Акции", "Контакты"];
- var catalogItems =  ["Электромобили", "Мотоциклы", "Квадрациклы", "Толокары", "Веломобили", "Квадроциклы на бензине", "Детские машины на бензине", "Аккумуляторы, зарядки"];
doctype html
html(lang="ru")
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/style.min.css", rel="stylesheet")
    title= pageTitle
  body
    header.header
      nav.menu__container
        ul.menu
          each item in menuItems
            li.menu__item
              a.menu__link(href="#")= item
            | &nbsp
      .header__container
        .header__block1
          a.header__logo-link(href="/")
            img.header__logo(src="images/logo.png")
            br
            br
            | интернет-магазин детских машин
          br
          br
          a(href="https://vk.com")
            img.header__logo(src="images/vk.png")
          | &nbsp&nbsp&nbsp
          a(href="https://instagram.com")
            img.header__logo(src="images/instagram.png")            
        .header__block2
          a.header__phone-link(href="tel:+79876543210") +7987 654 32 10
          select.header__select-region
            option(value="" default selected) Ваш регион
            option Республика Башкортостан
            option Московская область
            option Калининградская область
          br
          br  
          span.header__schedule 8:00-23:00 ежедневно
          .search__container
            input.search__input(type="search" placeholder="Поиск по сайту")
            button.search__btn
        .header__block3
          .header__cart-head Корзина
          .header__cart-body Ваша корзина пуста
          button.header__callback Заказать обратный звонок
      nav.menu-catalog
        .menu-catalog__container
          mixin item(name)
            .menu-catalog__item= name
              ul.menu-catalog__dropdown-container
                each item in catalogItems
                  li.menu-catalog__dropdown-item
                    a.menu-catalog__dropdown-link(href="#")= item
          +item("Машинки")
          +item("Детские коляски")
          +item("Автокресла")
          +item("Велосипеды")