- var pageTitle = "Интернет магазин детских машин \"Бибика\"";
- var menuItems = ["Каталог", "Бренды", "О нас", "Статьи", "Наши клиенты", "Доставка и оплата", "Гарантия и возврат", "Акции", "Контакты"];
- var catalogCars =  ["Электромобили", "Мотоциклы", "Квадрациклы", "Толокары", "Веломобили", "Квадроциклы на бензине", "Детские машины на бензине", "Аккумуляторы, зарядки"];
- var catalogBabyCars = ["Детские коляски", "Люльки", "2в1", "3в1", "Прогулочные", "Трансформеры", "Трости" , "Для двойни", "Аксессуары"];
- var catalogChairs = ["Автокресла","Автокресла группы 0+ (0-13кг)","Автокресла группы 0+/1 (0-18кг)","Автокресла группы 1 (9-18кг)","Автокресла группы 1/2 (9-25кг)","Автокресла группы 1/2/3 (9-36кг)","Автокресла группы 2/3 (15-36кг)","Автокресла группы 3 (бустеры)","Аксессуары для автокресел","Аксессуары для автомобиля"];
- var catalogCycle = ["Беговелы", "Двухколесные", "Трехколесные"];
doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
    link(href="css/style.min.css", rel="stylesheet")
    title= pageTitle
  body
    - var cart_with_items = true
    include ./includes/header.pug
    include ./includes/promotions.pug
    include ./includes/features.pug
    include ./includes/description.pug
    include ./includes/footer.pug
    script(src="js/script.min.js")