include ./includes/head.pug
- var cart_with_items = true
include ./includes/header.pug
include ./includes/promotions.pug
include ./includes/features.pug
include ./includes/description.pug
include ./includes/footer.pug
script(src="js/script.min.js")