.brands-container {
    text-align: justify;
    padding-top: 15px;
}
.brands-container:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.brand-block {
    display: inline-block;
    width: 167px / $container-width * 100%;
    text-align: center;
    padding-bottom: 40px;
    @include breakpoint(tablet) {
         width: 167px * 2 / $container-width * 100%;
    }
    @include breakpoint(mobile) {
         width: 167px * 3 / $container-width * 100%;
    }    
}
.brand-block__picture {
    border-radius: 12px;
    width: 100%;
}
.brand-block__link {
    font-size: 18px;
    color: #656565;
    text-decoration: none;
}