.brands-container {
    text-align: justify;
    padding-top: 15px;
}
.brands-container:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.brand-block {
    display: inline-block;
    width: 167px / $container-width * 100%;
    font-size: 18px;
    color: #656565;
    text-align: center;
    padding-bottom: 40px;
}
.brand-block__picture {
    border-radius: 12px;
    width: 100%;
}