.cart {
    width: 100%;
    max-width: $container-width;
    font-size: 18px;
    text-align: left;
    color: $btn-green;
    margin-top: 30px;
    @include breakpoint(tablet) {
        display: block; 
    }
    thead, tbody, th, td, tr { 
        @include breakpoint(tablet) {
            display: block;
            width: 100%;
            padding: 0;
            margin: 10px 0;
        }
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        @include breakpoint(tablet) {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
    
    // tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        @include breakpoint(tablet) {
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%;
        }
    }
    
    td:before {
        @include breakpoint(tablet) {
            /* Now like a table header */
            // position: absolute;
            display: block;
            width: 100%;
            height: 25px;
            text-align: center;
            color: #afafaf;
            font-size: 18px;
            /* Top/left values mimic padding */
            // top: 6px;
            // left: 6px;
            // width: 25%;
            // padding-right: 10px; 
            // white-space: nowrap;
        }
    }
    
    /*
    Label the data
    */

    td:nth-of-type(1):before { @include breakpoint(tablet) { content: "Фото"; } }
    td:nth-of-type(2):before { @include breakpoint(tablet) { content: "Наименование"; } }
    td:nth-of-type(3):before { @include breakpoint(tablet) { content: "Цена"; } }
    td:nth-of-type(4):before { @include breakpoint(tablet) { content: "Количество"; } }
    td:nth-of-type(5):before { @include breakpoint(tablet) { content: "Сумма руб."; } }

    th {
        color: #afafaf;
    }
    td {
        border-left: 1px solid #c2c2c2;
        padding-left: 21px;
        box-sizing: border-box;
        @include breakpoint(tablet) { 
            text-align: center;
            border-left: none;
            border-bottom: 1px solid #c2c2c2;
        }
    }
    td:first-child {
        border: none;
        padding-right: 12px;
        padding-left: 11px;
        @include breakpoint(tablet) { 
            border-bottom: 1px solid #c2c2c2;
        }
    }
    td:nth-child(1) {
        width: 178px / $container-width * 100%;
        @include breakpoint(tablet) { width: 100%; padding: 20px 0 5px;}
    }
    td:nth-child(2) {
        width: 294px / $container-width * 100%;        
        padding-right: 35px;
        @include breakpoint(tablet) { width: 100%; padding: 20px 0 5px;}
    }
    td:nth-child(3) {
        width: 197px / $container-width * 100%;
        @include breakpoint(tablet) { width: 100%; padding: 20px 0 5px;}
    }
    td:nth-child(4) {
        width: 193px / $container-width * 100%;
        padding-left: 12px;
        @include breakpoint(tablet) { width: 100%; padding: 20px 0 5px;}
    }
    td:nth-child(5) {
        width: 199px / $container-width * 100%;
        @include breakpoint(tablet) { width: 100%; padding: 20px 0 5px;}
    }
    td:nth-child(6) {
        padding-left: 35px;
        width: 87px / $container-width * 100%;
        @include breakpoint(tablet) { width: 100%; padding: 20px 0 5px;}
    }     
    thead>tr>th {
        padding-bottom: 11px;
        padding-left: 21px;
    }    
}
.cart__product-name {
    color: #f25b5b;
}
.cart__count {
    border: 1px solid $main-blue;
    color: $grey;
    height: 32px;
    width: 55px;
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    box-sizing: border-box;
    outline: 0;
}
.cart__btn-remove {
    border: none;
    background-color: white;
}
.cart__btn-remove:hover {
    cursor: pointer;
}
.in-total {
    color: white;
    text-align: right;
    width: 100%;
    margin-bottom: 50px;
}
.in-total__text {
    text-align: left;
    background-color: $btn-green;
    height: 57px;
    display: inline-block;
    font-size: 18px;
    width: 214px / $container-width * 100%;
    vertical-align: middle;
    padding-top: 16px;
    padding-left: 12px;
    box-sizing: border-box;
    @include breakpoint(tablet) { 
        width: 214px / (214px + 264px) * 100%;
    }
}
.in-total__val {
    text-align: left;
    background-color: $btn-green;
    height: 57px;
    display: inline-block;
    font-size: 24px;
    width: 264px / $container-width * 100%;
    vertical-align: middle;
    padding-top: 13px;
    box-sizing: border-box;
    @include breakpoint(tablet) { 
        width: 264px / (214px + 264px) * 100%;
    }    
}
.information__subtitle {
    color: #a3be32;
    font-size: 14px;
}
.information__input {
    border: 1px solid $main-blue;
    color: $grey;
    height: 32px;
    width: 55px;
    display: inline-block;
    border-radius: 12px;
    vertical-align: middle;
    padding-top: 5px;
    box-sizing: border-box;
    margin-bottom: 6px;
    width: 100%;
    padding-left: 15px;  
}
.order {
    width: 462px / $container-width * 100%;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(tablet) { 
        width: 100%;
    } 

    input, textarea {
        border: 1px solid $main-blue;
        color: $grey;
        height: 32px;
        width: 55px;
        display: inline-block;
        border-radius: 12px;
        vertical-align: middle;
        padding-top: 5px;
        box-sizing: border-box;
        margin-bottom: 14px;
        width: 100%;
        padding-left: 15px;
    }
    textarea {
        height: 117px;
    }
    input[type="submit"] {
        color: white;
        background-color: $btn-green;
        border: none;
        text-align: center;
        font-size: 16px;
    }
    input[type="submit"]:hover {
        cursor: pointer;
    }
}
.order__title,
.information__title {
    font-size: 24px;
    color: $main-blue;
    margin: 0 0 24px;
}
.information {
    width: 685px / $container-width * 100%;
    padding-left: 208px / $container-width * 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 46px;
    @include breakpoint(smalldesc) {
        padding-left: 10%;
    }
    @include breakpoint(tablet) { 
        width: 100%;
        padding-left: 0;
    }     
}
.information__link {
    font-size: 18px;
    color: $main-blue;
    margin-right: 41px;
    margin-top: 21px;
    display: inline-block;
    .icon-medal-red, 
    .icon-box-red {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
}
.information__text {
    color: #676767;
    font-size: 14px;
}
.information__text:first-of-type {
    margin-top: 0;
}
