.footer {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    text-align: justify;
    padding-top: 37px;
    @include breakpoint(mobile) {
        
    }
    @include breakpoint(tablet) {
        padding: 20px;
        text-align: center;
    }
}
.footer:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.footer__column {
    vertical-align: top;
    display: inline-block;
    color: $grey;
    font-family: $main-font;
    font-weight: bold;
    font-size: 14px;
    @include breakpoint(tablet) {
        width: 32%;
    }
    @include breakpoint(mobile) {
        width: 24%;
    }
    // width: $container-width / 6 / $container-width * 100%;
}
.footer__column:nth-of-type(1) {
    @include breakpoint(mobile) {
        width: 100%;
    }
}
.footer__column:nth-of-type(2) {
    .footer__list {
        @include breakpoint(mobile) {
            display: block;
        }
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin-bottom: 10px;
    }
}
.footer__icon {
    display: inline-block;
}
.footer__logo {
    width: 112px;
    height: 26px;
}
.footer__phone-link {
    color: $main-blue;
    font-size: 18px;
    text-decoration: none;
}
.footer__list-title {
    color: $red;    
}
.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include breakpoint(mobile) {
        display: none;
    }
}
.footer__list-link {
    color: $main-blue;
    text-decoration: none;
    font-size: 12px;
}
.footer__list-link:hover,
.footer__phone-link:hover {
    text-decoration: underline;
}