.menu__container {
    background-color: $main-blue;
    width: 100%;
    height: 45px;
}
.menu {
    list-style: none;
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    text-align: justify;
}
.menu:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.menu__item {
    display: inline-block;
}
.menu__link {
    color: white;
    text-decoration: none;
    font-family: $main-font;
    font-size: 16px;
    font-weight: bold;
}
.menu__link:hover,
.header__logo-link:hover,
.header__phone-link:hover,
.header__callback:hover,
.search__btn,
.menu-catalog__dropdown-link {
    text-decoration: underline;
    cursor: pointer;
}
.header__container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 16px 0;
    height: 179px;
}
.header__block1 {
    height: 179px - 46px;
    display: inline-block;
    vertical-align: top;
    width: 392px / $container-width * 100%;
    box-sizing: border-box;
}
.header__block2 {
    height: 179px - 46px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 490px / $container-width * 100%;
    box-sizing: border-box;
}
.header__block3 {
    height: 179px - 46px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 266px / $container-width * 100%;
    box-sizing: border-box;
}
.header__logo {
    margin-bottom: 10px;
}
.header__logo-link {
    font-size: 12.64px;
    font-family: $main-font;
    font-weight: bold;
    color: $grey;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 19px;
    display: inline-block;
}
.header__icon {
    display: inline-block;
    vertical-align: middle;
}
.header__phone-link {
    font-size: 24px;
    color: $orange;
    font-family: $main-font;
    font-weight: bold;
    text-decoration: none;
    margin-left: 8px;
    vertical-align: middle;
}
.header__schedule {
    font-size: 16px;
    color: $main-blue;
    font-family: $main-font;
    font-weight: bold;
    display: inline-block;
    margin-top: 9px;
}
.header__select-container {
    position: relative;
    border: 1px solid $main-blue;
    outline: none;
    background-color: white;
    font-size: 12px;
    font-family: $main-font;
    font-weight: bold;
    color: $grey;
    width: 151px;
    border-radius: 12px;
    float: right;
    margin-right: 32px / 490px * 100%;
    overflow: hidden;
    cursor: pointer;
}
.header__select-region {
    border: none;
    outline: none;
    background-color: white;
    color: $grey;
    width: 171px;
    height: 32px;
    padding-left: 12px;
    cursor: pointer;
}
.header__select-arrow {
    @include sprite($icon-arrow-down);
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
}
.search__container {
    position: absolute;
    bottom: 0;
    width: (490px - 31px) / 490px * 100%;
    right: 31px / 490px * 100%;
}
.search__input {
    border: 1px solid $main-blue;
    border-right: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: none;
    background-color: white;
    font-size: 12px;
    font-family: $main-font;
    font-weight: bold;
    color: $grey;
    height: 32px;
    width: 399px / (490px - 31px) * 100%;
    padding-left: 12px;
    box-sizing: border-box;
    vertical-align: middle;
}
.search__btn {
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: $main-blue;
    height: 32px;
    width: 60px / (490px - 31px) * 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    vertical-align: middle;
}
.header__cart {
    width: 100%;
    color: $grey;
    font-size: 16px;
    padding-left: 20px;
    >.icon-cart-red {
        position: absolute;
        left: 0;
        top: 2px;
    }
}
.header__cart-link {
    color: #fa6868;
}
.header__cart-count {
    color: $main-blue;
}
.header__cart-price {
    color: #9cb913;
}
.header__cart-head {
    color: white;
    font-size: 16px;
    font-family: $main-font;
    font-weight: bold;
    background-color: $main-red;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding: 8px 0 0 38px;
}
.header__cart-head>.icon-cart {
    position: absolute;
    left: 15px;
    top: 10px;
}
.header__cart-body {
    font-size: 16px;
    font-family: $main-font;
    font-weight: bold;
    border: 1px solid $main-red;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    height: 32px;
    color: $light-grey;
    box-sizing: border-box;
    padding: 6px 0 0 38px;
}
.header__callback {
    color: white;
    background-color: $btn-green;
    font-family: $main-font;
    font-weight: bold;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    .icon-callback {
        float: left;
        margin-left: 4px;
    }
}
.menu-catalog {
    background: url(../images/bg-header-menu-catalog.jpg);
    width: 100%;
}
.menu-catalog__container {
    height: 99px;
    padding-top: (99px - 64px) / 2;
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
}
.menu-catalog__item {
    display: inline-block;
    width: 266px / $container-width * 100%;
    height: 64px;
    border-radius: 12px;
    position: relative;
    background-color: white;
    margin-right: ($container-width - 4 * 266px) / 3 / ($container-width + 1px) * 100%;
    color: $red;
    font-size: 18px;
    font-family: $main-font;
    font-weight: bold;
    padding-top: 20px;
    border: 1px solid #bdbcbd;
    background: linear-gradient(to bottom, #ffffff 0%,#fdfdfd 60%,#ededed 98%,#dedede 100%);
    box-shadow: 0px 3px 5px 0px rgba(12, 6, 6, 0.35);
    vertical-align: middle;

    >.header__icon {
        float: left;
        margin: -10px 10px 0 20px;
    }
    >.icon-car {
        margin-top: -7px;
    }
}
.menu-catalog__item--selected {
    background: linear-gradient(to bottom, #cdebf2 0%,#ceeff7 60%,#c3e4ec 98%,#c1dfe6 100%);
}
.menu-catalog__item:last-of-type {
    margin-right: 0;
}
.menu-catalog__dropdown-container {
    position: absolute;
    display: none;
    background-color: $aqua;
    color: white;
    border: 1px solid $breeze;
    border-top: none;
    text-align: left;
    padding-left: 28px;
    box-sizing: border-box;
    width: 100%;
    top: 64px + 16px;
    margin: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 1;  
}
.menu-catalog__item:hover {
    cursor: pointer;
}
.menu-catalog__dropdown-item {
    padding: 6px 0;
}
.menu-catalog__dropdown-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: -6px;
}
.menu-catalog__dropdown-link:hover {
    text-decoration: underline;
}