.product__container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    background-color: white;
    padding: 34px 17px 51px;
}
 $container-width-with-pad: $container-width - 17px * 2;

.product {
    width: 100%;
    background: url(../images/pattern-green.jpg);
    padding: 21px 0 100px;
}
.product__preview-container {
    display: inline-block;
    width: 446px / $container-width-with-pad * 100%;
    vertical-align: top;
    @include breakpoint(tablet) {
        width: 100%;
    }
}
.product__info-container {
    display: inline-block;
    width: ($container-width-with-pad - 446px) / $container-width-with-pad * 100%;
    vertical-align: top;
    padding-left: 25px;
    @include breakpoint(tablet) {
        width: 100%;
        margin-top: 15px;
        padding-left: 0;
    }
}
.preview__thumb-group {
    margin-top: 10px;
    background-color: white;
}
.preview__thumb {
    display: inline-block;
    width: 109px / 446px * 100%;
    margin-right: (446px - 109px * 4) / 3 / 446px * 100%;
    box-sizing: border-box;
    border: 1px solid $grey;
    opacity: 0.5;
}
.preview__thumb:hover {
    cursor: pointer;
}
.preview__thumb:nth-of-type(4n) {
    margin-right: 0;
}
.preview__thumb--selected {
    opacity: 1;
}
.preview__frame {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    height: 310px;
    padding-top: 40px;
    text-align: center;
    >img {
    }
}
.info-desc {
    color: #636363;
    font-size: 14px;
}
.info-desc__left-block {
    width: 395px / ($container-width-with-pad - 446px) * 100%;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(mobile) {
        width: 100%;
    }
}
.info-desc__right-block {
    width: ($container-width-with-pad - 446px - 395px) / ($container-width-with-pad - 446px) * 100%;
    padding-left: 69px / ($container-width-with-pad - 446px) * 100%;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(mobile) {
        width: 100%;
        padding-left: 0;
    }
}
.info-desc__product-name {
    color: #f25b5b;
    font-size: 24px;
    margin: -4px 0 19px
}
.info-desc-price {
    color: $main-blue;
    font-size: 18px;
    margin-right: 5px;
}
.info-desc-val {
    color: $btn-green;
    font-size: 30px;
}
.info-desc__link {
    color: $main-blue;
    display: block;
    margin: 3px 0 11px;
}
.button-group {    
    text-align: justify;
    margin-top: 26px;
}
.button-group:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.button-group__buy {
    color: white;
    background-color: $btn-green;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    width: 164px;
    height: 41px;
    font-size: 20px;
    vertical-align: top;
    @include breakpoint(smalldesc) {
       margin-top: 7px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 0;        
    }    
}
.button-group__call {
    display: inline-block;
    vertical-align: top;
    color: $light-grey;
    font-size: 18px;
    width: 219px;
    height: 41px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #75f1ff;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
    @include breakpoint(smalldesc) {
       margin-top: 7px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 0;        
    }     
}
.button-group__buy-one-click {
    vertical-align: top;
    color: white;
    background-color: $main-blue;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    width: 218px;
    height: 41px;
    font-size: 20px;
    @include breakpoint(smalldesc) {
       margin-top: 7px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 0;
    }
}
.info-extra {
    margin-top: 14px;
}
.info-extra__colors {
    margin-top: 11px;
}
.info-extra__stars {
    margin: 19px 0 33px;
}
.info-extra__left-block {
    width: 355px / ($container-width-with-pad - 446px) * 100%;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(mobile) {
       width: 100%
    }    
}
.info-extra__link {
    color: $main-blue;
    font-size: 18px;
    vertical-align: middle;
    .icon-medal-red,
    .icon-box-red  {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}
.color-black,
.color-red,
.color-yellow, {
    width: 42px;
    height: 42px;
    display: inline-block;
    margin-right: 11px;
    border-radius: 12px;
}
.info-extra__stars {
  .icon-star,
  .icon-star-empty {
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
  }
}
.color-black {
    background-color: #000;
}
.color-red {
    background-color: #ed1c24;
}
.color-yellow {
    background-color: #f7cf55;
}
.info-extra__right-block {
    display: inline-block;
    vertical-align: top;
    width: ($container-width-with-pad - 446px - 355px) / ($container-width-with-pad - 446px) * 100%;
    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 10px;
    }    
    video, embed, img {
        width: 100%;
    }
}
.tabs {
    margin-top: 32px;
}
.tabs__control {
    color: white;
    font-size: 16px;
    display: inline-block;
    background-color: $btn-blue;
    border: 1px solid #53edff;
    border-radius: 12px;
    margin-right: 11px;
    height: 32px;
    outline: 0;
    padding: 1px 42px;
    @include breakpoint(smalldesc) {
        padding: 1px 30px;
    }      
    @include breakpoint(tablet) {
       width: 100%;
       margin-top: 5px;
    }     
}
.tabs__control--active {
    color: $btn-blue;
    background-color: white;
}
.tabs__panel {
    color: #7a7a7a;
    font-size: 14px;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    margin-top: 13px;
    padding: 13px 7px 55px;
}
.rel-product__container {
    text-align: justify;
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    @include breakpoint(smalldesc) {
        text-align: center;
    }
}
.rel-product {
    width: 100%;
    padding-top: 29px;
    background: url(../images/pattern-blue.jpg);
}
.rel-product__header {
    text-align: center;
    margin-bottom: 40px;
    >h3 {
        font-size: 24px;
        padding: 15px 21px;
        background-color: #0d99bc;
        color: #fff;
        display: inline-block;
        margin: 0;
        border-radius: 12px;
    }
}
.rel-product__container:after {
    content: '';
    width: 100%;
    display: inline-block;
}