/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-arrow-down-name: 'icon-arrow-down';
$icon-arrow-down-x: 466px;
$icon-arrow-down-y: 246px;
$icon-arrow-down-offset-x: -466px;
$icon-arrow-down-offset-y: -246px;
$icon-arrow-down-width: 8px;
$icon-arrow-down-height: 4px;
$icon-arrow-down-total-width: 474px;
$icon-arrow-down-total-height: 410px;
$icon-arrow-down-image: '../images/sprites.png';
$icon-arrow-down: (466px, 246px, -466px, -246px, 8px, 4px, 474px, 410px, '../images/sprites.png', 'icon-arrow-down', );
$icon-atv-gasoline-name: 'icon-atv-gasoline';
$icon-atv-gasoline-x: 256px;
$icon-atv-gasoline-y: 0px;
$icon-atv-gasoline-offset-x: -256px;
$icon-atv-gasoline-offset-y: 0px;
$icon-atv-gasoline-width: 124px;
$icon-atv-gasoline-height: 110px;
$icon-atv-gasoline-total-width: 474px;
$icon-atv-gasoline-total-height: 410px;
$icon-atv-gasoline-image: '../images/sprites.png';
$icon-atv-gasoline: (256px, 0px, -256px, 0px, 124px, 110px, 474px, 410px, '../images/sprites.png', 'icon-atv-gasoline', );
$icon-atv-name: 'icon-atv';
$icon-atv-x: 115px;
$icon-atv-y: 220px;
$icon-atv-offset-x: -115px;
$icon-atv-offset-y: -220px;
$icon-atv-width: 103px;
$icon-atv-height: 110px;
$icon-atv-total-width: 474px;
$icon-atv-total-height: 410px;
$icon-atv-image: '../images/sprites.png';
$icon-atv: (115px, 220px, -115px, -220px, 103px, 110px, 474px, 410px, '../images/sprites.png', 'icon-atv', );
$icon-battery-name: 'icon-battery';
$icon-battery-x: 0px;
$icon-battery-y: 110px;
$icon-battery-offset-x: 0px;
$icon-battery-offset-y: -110px;
$icon-battery-width: 128px;
$icon-battery-height: 110px;
$icon-battery-total-width: 474px;
$icon-battery-total-height: 410px;
$icon-battery-image: '../images/sprites.png';
$icon-battery: (0px, 110px, 0px, -110px, 128px, 110px, 474px, 410px, '../images/sprites.png', 'icon-battery', );
$icon-bike-name: 'icon-bike';
$icon-bike-x: 256px;
$icon-bike-y: 110px;
$icon-bike-offset-x: -256px;
$icon-bike-offset-y: -110px;
$icon-bike-width: 118px;
$icon-bike-height: 110px;
$icon-bike-total-width: 474px;
$icon-bike-total-height: 410px;
$icon-bike-image: '../images/sprites.png';
$icon-bike: (256px, 110px, -256px, -110px, 118px, 110px, 474px, 410px, '../images/sprites.png', 'icon-bike', );
$icon-box-red-name: 'icon-box-red';
$icon-box-red-x: 312px;
$icon-box-red-y: 289px;
$icon-box-red-offset-x: -312px;
$icon-box-red-offset-y: -289px;
$icon-box-red-width: 32px;
$icon-box-red-height: 20px;
$icon-box-red-total-width: 474px;
$icon-box-red-total-height: 410px;
$icon-box-red-image: '../images/sprites.png';
$icon-box-red: (312px, 289px, -312px, -289px, 32px, 20px, 474px, 410px, '../images/sprites.png', 'icon-box-red', );
$icon-box-name: 'icon-box';
$icon-box-x: 380px;
$icon-box-y: 95px;
$icon-box-offset-x: -380px;
$icon-box-offset-y: -95px;
$icon-box-width: 94px;
$icon-box-height: 95px;
$icon-box-total-width: 474px;
$icon-box-total-height: 410px;
$icon-box-image: '../images/sprites.png';
$icon-box: (380px, 95px, -380px, -95px, 94px, 95px, 474px, 410px, '../images/sprites.png', 'icon-box', );
$icon-call-name: 'icon-call';
$icon-call-x: 360px;
$icon-call-y: 289px;
$icon-call-offset-x: -360px;
$icon-call-offset-y: -289px;
$icon-call-width: 16px;
$icon-call-height: 16px;
$icon-call-total-width: 474px;
$icon-call-total-height: 410px;
$icon-call-image: '../images/sprites.png';
$icon-call: (360px, 289px, -360px, -289px, 16px, 16px, 474px, 410px, '../images/sprites.png', 'icon-call', );
$icon-callback-name: 'icon-callback';
$icon-callback-x: 344px;
$icon-callback-y: 289px;
$icon-callback-offset-x: -344px;
$icon-callback-offset-y: -289px;
$icon-callback-width: 16px;
$icon-callback-height: 18px;
$icon-callback-total-width: 474px;
$icon-callback-total-height: 410px;
$icon-callback-image: '../images/sprites.png';
$icon-callback: (344px, 289px, -344px, -289px, 16px, 18px, 474px, 410px, '../images/sprites.png', 'icon-callback', );
$icon-car-name: 'icon-car';
$icon-car-x: 380px;
$icon-car-y: 285px;
$icon-car-offset-x: -380px;
$icon-car-offset-y: -285px;
$icon-car-width: 48px;
$icon-car-height: 35px;
$icon-car-total-width: 474px;
$icon-car-total-height: 410px;
$icon-car-image: '../images/sprites.png';
$icon-car: (380px, 285px, -380px, -285px, 48px, 35px, 474px, 410px, '../images/sprites.png', 'icon-car', );
$icon-cart-big-name: 'icon-cart-big';
$icon-cart-big-x: 171px;
$icon-cart-big-y: 330px;
$icon-cart-big-offset-x: -171px;
$icon-cart-big-offset-y: -330px;
$icon-cart-big-width: 24px;
$icon-cart-big-height: 24px;
$icon-cart-big-total-width: 474px;
$icon-cart-big-total-height: 410px;
$icon-cart-big-image: '../images/sprites.png';
$icon-cart-big: (171px, 330px, -171px, -330px, 24px, 24px, 474px, 410px, '../images/sprites.png', 'icon-cart-big', );
$icon-cart-red-name: 'icon-cart-red';
$icon-cart-red-x: 263px;
$icon-cart-red-y: 330px;
$icon-cart-red-offset-x: -263px;
$icon-cart-red-offset-y: -330px;
$icon-cart-red-width: 16px;
$icon-cart-red-height: 16px;
$icon-cart-red-total-width: 474px;
$icon-cart-red-total-height: 410px;
$icon-cart-red-image: '../images/sprites.png';
$icon-cart-red: (263px, 330px, -263px, -330px, 16px, 16px, 474px, 410px, '../images/sprites.png', 'icon-cart-red', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 279px;
$icon-cart-y: 330px;
$icon-cart-offset-x: -279px;
$icon-cart-offset-y: -330px;
$icon-cart-width: 16px;
$icon-cart-height: 16px;
$icon-cart-total-width: 474px;
$icon-cart-total-height: 410px;
$icon-cart-image: '../images/sprites.png';
$icon-cart: (279px, 330px, -279px, -330px, 16px, 16px, 474px, 410px, '../images/sprites.png', 'icon-cart', );
$icon-chair-name: 'icon-chair';
$icon-chair-x: 0px;
$icon-chair-y: 330px;
$icon-chair-offset-x: 0px;
$icon-chair-offset-y: -330px;
$icon-chair-width: 48px;
$icon-chair-height: 48px;
$icon-chair-total-width: 474px;
$icon-chair-total-height: 410px;
$icon-chair-image: '../images/sprites.png';
$icon-chair: (0px, 330px, 0px, -330px, 48px, 48px, 474px, 410px, '../images/sprites.png', 'icon-chair', );
$icon-cycle-car-name: 'icon-cycle-car';
$icon-cycle-car-x: 0px;
$icon-cycle-car-y: 220px;
$icon-cycle-car-offset-x: 0px;
$icon-cycle-car-offset-y: -220px;
$icon-cycle-car-width: 115px;
$icon-cycle-car-height: 110px;
$icon-cycle-car-total-width: 474px;
$icon-cycle-car-total-height: 410px;
$icon-cycle-car-image: '../images/sprites.png';
$icon-cycle-car: (0px, 220px, 0px, -220px, 115px, 110px, 474px, 410px, '../images/sprites.png', 'icon-cycle-car', );
$icon-cycle-name: 'icon-cycle';
$icon-cycle-x: 48px;
$icon-cycle-y: 330px;
$icon-cycle-offset-x: -48px;
$icon-cycle-offset-y: -330px;
$icon-cycle-width: 48px;
$icon-cycle-height: 48px;
$icon-cycle-total-width: 474px;
$icon-cycle-total-height: 410px;
$icon-cycle-image: '../images/sprites.png';
$icon-cycle: (48px, 330px, -48px, -330px, 48px, 48px, 474px, 410px, '../images/sprites.png', 'icon-cycle', );
$icon-elec-car-name: 'icon-elec-car';
$icon-elec-car-x: 0px;
$icon-elec-car-y: 0px;
$icon-elec-car-offset-x: 0px;
$icon-elec-car-offset-y: 0px;
$icon-elec-car-width: 128px;
$icon-elec-car-height: 110px;
$icon-elec-car-total-width: 474px;
$icon-elec-car-total-height: 410px;
$icon-elec-car-image: '../images/sprites.png';
$icon-elec-car: (0px, 0px, 0px, 0px, 128px, 110px, 474px, 410px, '../images/sprites.png', 'icon-elec-car', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 428px;
$icon-instagram-y: 285px;
$icon-instagram-offset-x: -428px;
$icon-instagram-offset-y: -285px;
$icon-instagram-width: 32px;
$icon-instagram-height: 32px;
$icon-instagram-total-width: 474px;
$icon-instagram-total-height: 410px;
$icon-instagram-image: '../images/sprites.png';
$icon-instagram: (428px, 285px, -428px, -285px, 32px, 32px, 474px, 410px, '../images/sprites.png', 'icon-instagram', );
$icon-kid-car-gasoline-name: 'icon-kid-car-gasoline';
$icon-kid-car-gasoline-x: 128px;
$icon-kid-car-gasoline-y: 0px;
$icon-kid-car-gasoline-offset-x: -128px;
$icon-kid-car-gasoline-offset-y: 0px;
$icon-kid-car-gasoline-width: 128px;
$icon-kid-car-gasoline-height: 110px;
$icon-kid-car-gasoline-total-width: 474px;
$icon-kid-car-gasoline-total-height: 410px;
$icon-kid-car-gasoline-image: '../images/sprites.png';
$icon-kid-car-gasoline: (128px, 0px, -128px, 0px, 128px, 110px, 474px, 410px, '../images/sprites.png', 'icon-kid-car-gasoline', );
$icon-loupe-name: 'icon-loupe';
$icon-loupe-x: 448px;
$icon-loupe-y: 222px;
$icon-loupe-offset-x: -448px;
$icon-loupe-offset-y: -222px;
$icon-loupe-width: 24px;
$icon-loupe-height: 24px;
$icon-loupe-total-width: 474px;
$icon-loupe-total-height: 410px;
$icon-loupe-image: '../images/sprites.png';
$icon-loupe: (448px, 222px, -448px, -222px, 24px, 24px, 474px, 410px, '../images/sprites.png', 'icon-loupe', );
$icon-medal-red-name: 'icon-medal-red';
$icon-medal-red-x: 448px;
$icon-medal-red-y: 190px;
$icon-medal-red-offset-x: -448px;
$icon-medal-red-offset-y: -190px;
$icon-medal-red-width: 24px;
$icon-medal-red-height: 32px;
$icon-medal-red-total-width: 474px;
$icon-medal-red-total-height: 410px;
$icon-medal-red-image: '../images/sprites.png';
$icon-medal-red: (448px, 190px, -448px, -190px, 24px, 32px, 474px, 410px, '../images/sprites.png', 'icon-medal-red', );
$icon-medal-name: 'icon-medal';
$icon-medal-x: 380px;
$icon-medal-y: 190px;
$icon-medal-offset-x: -380px;
$icon-medal-offset-y: -190px;
$icon-medal-width: 68px;
$icon-medal-height: 95px;
$icon-medal-total-width: 474px;
$icon-medal-total-height: 410px;
$icon-medal-image: '../images/sprites.png';
$icon-medal: (380px, 190px, -380px, -190px, 68px, 95px, 474px, 410px, '../images/sprites.png', 'icon-medal', );
$icon-next-name: 'icon-next';
$icon-next-x: 448px;
$icon-next-y: 246px;
$icon-next-offset-x: -448px;
$icon-next-offset-y: -246px;
$icon-next-width: 18px;
$icon-next-height: 32px;
$icon-next-total-width: 474px;
$icon-next-total-height: 410px;
$icon-next-image: '../images/sprites.png';
$icon-next: (448px, 246px, -448px, -246px, 18px, 32px, 474px, 410px, '../images/sprites.png', 'icon-next', );
$icon-pig-name: 'icon-pig';
$icon-pig-x: 380px;
$icon-pig-y: 0px;
$icon-pig-offset-x: -380px;
$icon-pig-offset-y: 0px;
$icon-pig-width: 94px;
$icon-pig-height: 95px;
$icon-pig-total-width: 474px;
$icon-pig-total-height: 410px;
$icon-pig-image: '../images/sprites.png';
$icon-pig: (380px, 0px, -380px, 0px, 94px, 95px, 474px, 410px, '../images/sprites.png', 'icon-pig', );
$icon-pram-name: 'icon-pram';
$icon-pram-x: 96px;
$icon-pram-y: 330px;
$icon-pram-offset-x: -96px;
$icon-pram-offset-y: -330px;
$icon-pram-width: 43px;
$icon-pram-height: 48px;
$icon-pram-total-width: 474px;
$icon-pram-total-height: 410px;
$icon-pram-image: '../images/sprites.png';
$icon-pram: (96px, 330px, -96px, -330px, 43px, 48px, 474px, 410px, '../images/sprites.png', 'icon-pram', );
$icon-prev-name: 'icon-prev';
$icon-prev-x: 0px;
$icon-prev-y: 378px;
$icon-prev-offset-x: 0px;
$icon-prev-offset-y: -378px;
$icon-prev-width: 18px;
$icon-prev-height: 32px;
$icon-prev-total-width: 474px;
$icon-prev-total-height: 410px;
$icon-prev-image: '../images/sprites.png';
$icon-prev: (0px, 378px, 0px, -378px, 18px, 32px, 474px, 410px, '../images/sprites.png', 'icon-prev', );
$icon-sale-name: 'icon-sale';
$icon-sale-x: 312px;
$icon-sale-y: 220px;
$icon-sale-offset-x: -312px;
$icon-sale-offset-y: -220px;
$icon-sale-width: 65px;
$icon-sale-height: 69px;
$icon-sale-total-width: 474px;
$icon-sale-total-height: 410px;
$icon-sale-image: '../images/sprites.png';
$icon-sale: (312px, 220px, -312px, -220px, 65px, 69px, 474px, 410px, '../images/sprites.png', 'icon-sale', );
$icon-star-empty-name: 'icon-star-empty';
$icon-star-empty-x: 195px;
$icon-star-empty-y: 330px;
$icon-star-empty-offset-x: -195px;
$icon-star-empty-offset-y: -330px;
$icon-star-empty-width: 24px;
$icon-star-empty-height: 24px;
$icon-star-empty-total-width: 474px;
$icon-star-empty-total-height: 410px;
$icon-star-empty-image: '../images/sprites.png';
$icon-star-empty: (195px, 330px, -195px, -330px, 24px, 24px, 474px, 410px, '../images/sprites.png', 'icon-star-empty', );
$icon-star-name: 'icon-star';
$icon-star-x: 219px;
$icon-star-y: 330px;
$icon-star-offset-x: -219px;
$icon-star-offset-y: -330px;
$icon-star-width: 24px;
$icon-star-height: 24px;
$icon-star-total-width: 474px;
$icon-star-total-height: 410px;
$icon-star-image: '../images/sprites.png';
$icon-star: (219px, 330px, -219px, -330px, 24px, 24px, 474px, 410px, '../images/sprites.png', 'icon-star', );
$icon-thumb-name: 'icon-thumb';
$icon-thumb-x: 218px;
$icon-thumb-y: 220px;
$icon-thumb-offset-x: -218px;
$icon-thumb-offset-y: -220px;
$icon-thumb-width: 94px;
$icon-thumb-height: 95px;
$icon-thumb-total-width: 474px;
$icon-thumb-total-height: 410px;
$icon-thumb-image: '../images/sprites.png';
$icon-thumb: (218px, 220px, -218px, -220px, 94px, 95px, 474px, 410px, '../images/sprites.png', 'icon-thumb', );
$icon-tol-car-name: 'icon-tol-car';
$icon-tol-car-x: 128px;
$icon-tol-car-y: 110px;
$icon-tol-car-offset-x: -128px;
$icon-tol-car-offset-y: -110px;
$icon-tol-car-width: 128px;
$icon-tol-car-height: 110px;
$icon-tol-car-total-width: 474px;
$icon-tol-car-total-height: 410px;
$icon-tol-car-image: '../images/sprites.png';
$icon-tol-car: (128px, 110px, -128px, -110px, 128px, 110px, 474px, 410px, '../images/sprites.png', 'icon-tol-car', );
$icon-trash-name: 'icon-trash';
$icon-trash-x: 243px;
$icon-trash-y: 330px;
$icon-trash-offset-x: -243px;
$icon-trash-offset-y: -330px;
$icon-trash-width: 20px;
$icon-trash-height: 24px;
$icon-trash-total-width: 474px;
$icon-trash-total-height: 410px;
$icon-trash-image: '../images/sprites.png';
$icon-trash: (243px, 330px, -243px, -330px, 20px, 24px, 474px, 410px, '../images/sprites.png', 'icon-trash', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 139px;
$icon-vk-y: 330px;
$icon-vk-offset-x: -139px;
$icon-vk-offset-y: -330px;
$icon-vk-width: 32px;
$icon-vk-height: 32px;
$icon-vk-total-width: 474px;
$icon-vk-total-height: 410px;
$icon-vk-image: '../images/sprites.png';
$icon-vk: (139px, 330px, -139px, -330px, 32px, 32px, 474px, 410px, '../images/sprites.png', 'icon-vk', );
$spritesheet-width: 474px;
$spritesheet-height: 410px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($icon-arrow-down, $icon-atv-gasoline, $icon-atv, $icon-battery, $icon-bike, $icon-box-red, $icon-box, $icon-call, $icon-callback, $icon-car, $icon-cart-big, $icon-cart-red, $icon-cart, $icon-chair, $icon-cycle-car, $icon-cycle, $icon-elec-car, $icon-instagram, $icon-kid-car-gasoline, $icon-loupe, $icon-medal-red, $icon-medal, $icon-next, $icon-pig, $icon-pram, $icon-prev, $icon-sale, $icon-star-empty, $icon-star, $icon-thumb, $icon-tol-car, $icon-trash, $icon-vk, );
$spritesheet: (474px, 410px, '../images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
