$main-blue: #21b6db;
$main-red: #da5c5c;
$btn-blue: #0dbfeb;
$btn-green: #a3be32;
$grey: #7e7e7e;
$light-grey: #a5a5a5;
$orange: #d74a4a;
$dim-orange: #dc6c6c;
$red: #d74a4a;
$aqua: #008caf;
$breeze: #00ccff;

$main-font: "Comfortaa", sans-serif;

$container-width: 1148px;

@mixin breakpoint($point) {
    @if $point == tablet {
        @media (max-width: 768px) { @content ; }
    }
    @else if $point == mobile {
        @media (max-width: 425px) { @content ; }
    }
    @else if $point == smalldesc {
        @media (max-width: 1180px) { @content ; }
    }
    @else if $point == laptop {
        @media (max-width: 1378px) { @content ; }
    }   
}