@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
}
@import "_variables";

@import "_sprites";
@include sprites($spritesheet-sprites);

@import "libs/_normalize";
@import "libs/_owl.carousel";

@import "_header";

@import "_features";

@import "_description";

@import "_about";

@import "_articles";

@import "_brands";

@import "_cart";

@import "_catalog";

@import "_footer";

html {
    margin: 0;
    font-family: $main-font;
    font-weight: bold;
}
div {
    box-sizing: border-box;
}

.bg-girl {
    width: 100%;
    height: 620px;
    background: $main-blue url(../images/bg-girl.jpg) center no-repeat;
    background-size: cover;
}
.divider {
    background: url(../images/bg-header-menu-catalog.jpg);
    width: 100%;
    height: 37px;
}
.carousel__container {
    width: 100%;
    height: 664px;
    text-align: center;
    padding-top: 57px;
}
.carousel__name {
    color: white;
    font-size: 48px;
    display: inline-block;
    margin: 0;
    border-radius: 12px;
    padding: 2px 15px;
}
.carousel__container--blue {
    background: url(../images/pattern-blue.jpg);
    .carousel__name {
        background-color: #0d99bc;
    }
}
.carousel__container--red {
    background: url(../images/pattern-red.jpg);
    .carousel__name {
        background-color: #a84e4e;
    }
}
.carousel__container--green {
    background: url(../images/pattern-green.jpg);
    .carousel__name {
        background-color: #7ea237
    }
}
.carousel {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    margin-top: 74px;
}
.carousel-item {
    background-color: white;
    height: 387px;
    width: 364px;
    border-radius: 12px;
    text-align: left;
    padding: 6px 17px 0;
    box-sizing: border-box;
}
.carousel-item__thumb {
    max-width: 225px;
    max-height: 225px;
    margin: 0 auto;
}
.carousel-item__name {
    color: $main-blue;
    font-size: 18px;
    margin-top: 2px;
    display: inline-block;    
}
.carousel-item__categ {
    color: $grey;
    font-size: 14px;
    margin: 9px 0 13px;
    display: inline-block;
}
.carousel-item__price {
    color: $main-blue;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
}
.carousel-item__price-val {
   color: $btn-green;
   font-size: 24px;
}
.carousel-item__buy {
    background-color: $main-blue;
    color: white;
    border: 0;
    border-radius: 12px;
    width: 190px;
    height: 32px;
    box-sizing: border-box;
}
.carousel-item__to-cart {
    background-color: $btn-green;
    color: white;
    border: 0;
    border-radius: 12px;
    width: 127px;
    height: 32px;
    box-sizing: border-box;
    float: right;
}
.carousel-item__sale-badge {
	@include sprite($icon-sale);
	position: absolute;
    top: 4px;
    right: 16px;
}
.owl-next {
    position: absolute;
    right: - 64px - 22px;
    top: 50%;
    color: transparent;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    
}
.owl-next:before {
	content: "";
	display: block;
    margin: 16px auto 0;
	@include sprite($icon-next);
}
.owl-prev {
    position: absolute;
    left: - 64px - 22px;
    top: 50%;
    color: transparent;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
}
.owl-prev:before {
	content: "";
	display: block;
    margin: 16px auto 0;
	@include sprite($icon-prev);
}
.inner-page {
	width: 100%;
	min-height: 705px;
	background: url(../images/pattern-green.jpg);
	padding-bottom: 25px;
}
.inner-page__container {
	width: 100%;
	max-width: $container-width + 2 * 17px;
	padding: 24px 17px 0;
	margin: 0 auto;
	min-height: 683px;
	background-color: white;
	// text-align: center;
}
.inner-page__title {
	font-size: 24px;
	color: #f25b5b;
	margin: 0 0 13px;
	text-align: left;
}