@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
}
@import "_variables";

@import "_normalize";

@import "_header";

html {
	margin: 0;
}