@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
}
@import "_variables";

@import "_sprites";
@include sprites($spritesheet-sprites);

@import "libs/_normalize";
@import "libs/_owl.carousel";
@import "libs/_owl.theme";
@import "libs/_owl.transitions";

@import "_header";

@import "_features";

@import "_description";

@import "_about";

@import "_articles";

@import "_brands";

@import "_cart";

@import "_catalog";

@import "_categories";

@import "_product";

@import "_promotions";

@import "_footer";

html {
    margin: 0;
    font-family: $main-font;
    font-weight: bold;
}
div, footer, header {
    box-sizing: border-box;
}
button:hover {
    cursor: pointer;
}
.bg-girl {
    width: 100%;
    height: 620px;
    background: $main-blue url(../images/bg-girl.jpg) center no-repeat;
    background-size: cover;
}
#slider {
    .owl-controls {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .owl-controls .owl-page span {
        background-color: white;
    }
    .item img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.divider {
    background: url(../images/bg-header-menu-catalog.jpg);
    width: 100%;
    height: 37px;
}
.carousel__container {
    width: 100%;
    height: 664px;
    text-align: center;
    padding-top: 57px;
    position: relative;

    .owl-carousel .owl-item {
        @include breakpoint(laptop) {
            padding: 0 17px;
        }
    }
    .owl-theme .owl-controls {
        @include breakpoint(laptop) {
            position: absolute;
            width: 100%;
            top: 50%;
        }
    }
    .owl-next {
        position: absolute;
        right: 29px;
        top: 50%;
        color: transparent;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: white;        
        opacity: 0.5;
        
        @include breakpoint(laptop) {
            right: 15px;
        }
        @include breakpoint(smalldesc) {
            width: 56px;
            height: 56px;
            right: 10px;
        }
        @include breakpoint(tablet) {
            width: 48px;
            height: 48px;
            right: 4px;
        }    
        @include breakpoint(mobile) {
            width: 40px;
            height: 40px;
            right: 2px;
        }        
    }
    .owl-next:before {
        content: "";
        display: block;
        margin: 16px auto 0;
        @include breakpoint(smalldesc) {
            margin-top: 12px;
        }
        @include breakpoint(tablet) {
            margin-top: 7px;
        }    
        @include breakpoint(mobile) {
            margin-top: 4px;
        }            
        @include sprite($icon-next);
    }
    .owl-prev {
        position: absolute;
        left: 29px;
        top: 50%;
        color: transparent;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.5;
        @include breakpoint(laptop) {
             left: 15px;
        }
        @include breakpoint(smalldesc) {
            width: 56px;
            height: 56px;
            left: 10px;
        }
        @include breakpoint(tablet) {
            width: 48px;
            height: 48px;
            left: 4px;
        }    
        @include breakpoint(mobile) {
            width: 40px;
            height: 40px;
            left: 2px;
        } 
    }
    .owl-prev:before {
        content: "";
        display: block;
        margin: 16px auto 0;
        @include breakpoint(smalldesc) {
            margin-top: 12px;
        }
        @include breakpoint(tablet) {
            margin-top: 7px;
        }    
        @include breakpoint(mobile) {
            margin-top: 4px;
        }         
        @include sprite($icon-prev);
    }
    .owl-next:hover,
    .owl-prev:hover {
        opacity: 1;
    }
}
.carousel__name {
    color: white;
    font-size: 48px;
    display: inline-block;
    margin: 0;
    border-radius: 12px;
    padding: 2px 15px;
}
.carousel__container--blue {
    background: url(../images/pattern-blue.jpg);
    .carousel__name {
        background-color: #0d99bc;
    }
}
.carousel__container--red {
    background: url(../images/pattern-red.jpg);
    .carousel__name {
        background-color: #a84e4e;
    }
}
.carousel__container--green {
    background: url(../images/pattern-green.jpg);
    .carousel__name {
        background-color: #7ea237
    }
}
.carousel {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    margin-top: 74px;
    @include breakpoint(laptop) {    
        width: 89%;
    }
    @include breakpoint(smalldesc) {
        width: 87%;
    }
    @include breakpoint(tablet) {
        width: 84.5%;
    }    
    @include breakpoint(mobile) {
        width: 83%;
    }     
}
.carousel-item {
    background-color: white;
    height: 387px;
    width: 364px;
    border-radius: 12px;
    text-align: left;
    padding: 6px 17px 0;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    @include breakpoint(laptop) {
        width: 100%;
        overflow: hidden;
        height: auto;
        padding-bottom: 10px;
        // margin: 0 10px;
    }
    @include breakpoint(mobile) {
        font-size: 15px;
    }
}
.carousel-item__thumb {
    width: 100%;
    max-width: 225px;
    max-height: 225px;
    margin: 0 auto;
    display: block;
}
.carousel-item__name {
    color: $main-blue;
    font-size: 18px;
    margin-top: 2px;
    display: inline-block;
    @include breakpoint(smalldesc) {
        font-size: 16px;
    }
    @include breakpoint(mobile) {
        font-size: 13px;
    }    
}
.carousel-item__categ {
    color: $grey;
    font-size: 14px;
    margin: 9px 0 13px;
    display: inline-block;
    @include breakpoint(mobile) {
        font-size: 13px;
    }    
}
.carousel-item__price {
    color: $main-blue;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
}
.carousel-item__price-val {
   color: $btn-green;
   font-size: 24px;
}
.carousel-item__buy {
    background-color: $main-blue;
    color: white;
    border: 0;
    border-radius: 12px;
    width: 190px;
    min-height: 32px;
    box-sizing: border-box;
    @include breakpoint(laptop) {
        width: 190px / 330px * 100%;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
    }    
    @include breakpoint(mobile) {
        font-size: 13px;
    }
}
.carousel-item__to-cart {
    background-color: $btn-green;
    color: white;
    border: 0;
    border-radius: 12px;
    width: 127px;
    min-height: 32px;
    box-sizing: border-box;
    float: right;
    @include breakpoint(laptop) {
        width: 127px / 330px * 100%;
    }
}
.carousel-item__sale-badge {
    @include sprite($icon-sale);
    position: absolute;
    top: 4px;
    right: 16px;
}
.inner-page {
    width: 100%;
    background: url(../images/pattern-green.jpg);
    padding-bottom: 25px;
}
.inner-page__container {
    width: 100%;
    max-width: $container-width + 2 * 17px;
    padding: 24px 17px 0;
    margin: 0 auto;
    background-color: white;
}
.inner-page__title {
    font-size: 24px;
    color: #f25b5b;
    margin: 0 0 13px;
    text-align: left;
}